<div class="banner {{ section == 'home' ? 'landing':'pages shrink' }}">

  <a class="logo-a-wrap {{ section != 'home' ? 'shrink':'' }}" href="/">
    <div class="logo-svg-wrap">
      {% include '../icons/bbm-icon.twig' %}
    </div>
  </a>

  <div class="burger-btn">
    <div class="burger-icon"></div>
  </div>

  <div class="banner-backdrop"></div>
  
  <nav class="main-nav {{ section != 'home' ? 'shrink':'' }}" role="navigation">
    <div class="nav-menu-backdrop"></div>
    <ul class="menu-list list {{ section != 'home' ? 'shrink':'' }}">
        {% for link in navLinks %} 
            {% set linkClass = '' %} 
            {% if link.key in section %} 
                {% set linkClass = ' class="active"' %}
            {% endif %}
            <li{{ linkClass | striptags }}>
                <a class="nav-header" href="{{ link.href }}">{{ link.label }}</a>
                <ul class="sub-menu-list list {{ link.key }}">
                    {% for sublink in link.pages %}
                        <li>
                            <a href={{ sublink.href }}>{{ sublink.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>  
        {% endfor %}
    </ul>
  </nav>

</div>

{% if section == 'home' %} 
    {% include './slideshow.twig' %} 
{% endif %}