{% extends "../layouts/default.twig" %}

{% block content %}
    <section id="projects" class="projects-page project-detail-page">
        <div class="proj-banner proj-cate-banner" style="background-image: url('{{ project.image.url }}');">
            <div class="proj-title-container title-container">
                <h2 class="proj-header proj-cate-header">{{ project.name }}</h2>
            </div>
        </div>

        <div class="project-main">
            
            <!-- BREADCRUMB NAV -->
            {% include '../blocks/projects/breadcrumb-nav.twig' with { location: 'project', project: project, category: category }%}

            {% include '../blocks/projects/control-buttons.twig', with { project_controls: project_controls } %}

            <!-- PROJECT DETAILS -->
            {% include '../blocks/projects/project-details.twig', with { project: project } %} 

            <!-- PROJECT QUOTE -->
            <!-- { include '../blocks/projects/project-quote', with {project: project} }  -->

            <!-- PROJECTS SLIDER -->
            {% include '../blocks/projects/projects-slider.twig', with { currentProject: project, project_list: project_list } %} 

        </div>
    </section>
{% endblock %} 



<dl> 
    <dt>{{ project.name }}</dt>
    <dd>{{ project.location }}</dd>
    <dd>{{ project.client }}</dd>
    <dd>{{ project.value }}</dd>
    <dd>{{ project.highlights }}</dd>
    <dd>{{ project.category }}</dd>
    <dd>{{ project.completed_date|date('Y') }}</dd>  
</dl>