{% extends "../layouts/default.twig" %}

{% block content %}
    <div class="container">
        {% for project in project_list %}
            <dl> 
                <dt>{{ project.name }}</dt>
                <dd>{{ project.location }}</dd>
                <dd>{{ project.client }}</dd>
                <dd>{{ project.value }}</dd>
                <dd>{{ project.highlights }}</dd>
                <dd>{{ project.category }}</dd>
                <dd>{{ project.completed_date|date('Y') }}</dd>  
            </dl>
        {% endfor %}
    </div>
{% endblock %} 